{% extends "base.html" %} 


{% block content %}
<h2 class="poll-title">Create Poll</h2>
<div class="form-container">
  
  <form action="/createpoll" method="post" class="create-poll">
    <label for="title">Title</label>
    <input type="text" name="title" id="uname" required>
    <ul>
      <li>
          <label for="options">Option:</label>
          <input type="text" name="options" class= "option-input">
      </li>
    </ul>

  
    <button class="options-button">Add Options</button>
  
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}