{% extends "base.html" %}

{% block content %}




<div class="container">


  <div class="title-wrapper">
    <h1>Vote-Now-Omatic</h1> 
       {% if (username) %}
      <h3/>Welcome, {{username}}</h3>
      {% endif %}
    
    <h6>Select a poll to vote or Sign up To create your own</h6>
  </div>

  <div class-"home-poll-container">
    <ul class="poll-list">
       {% for item in listArray %}
      <li>
        <a href={{item.link}}>{{item.title}}</a>
      </li>
      {% else %}
      <li>This would display if the 'item' collection were empty</li>
      {% endfor %}
    </ul>

  </div>
 


</div>
{% endblock %}
