<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" href="../static/style/style.css" >
    <title>Document</title>
</head>
<body>
    



<div class="container">
       <nav><h3>VoteNoWer</h3><a href="/">Home</a><a href="/signup">Sign Up</a><a href="/login">Login</a></nav>

  <div class="title-wrapper">VoteNoWer
    <h1>Public Polls</h1>
    <h6>Select a poll to vote or Sign up To create your own</h6>
  </div>




</div>

    <script src="../static/js/app.js"></script>

</body>
</html>