{% extends "base.html" %} 


{% block content %}
  </div>

<div class="login-form">


<h2 class="login-header">Login</h2>

<div class="start-container">
  <ul>
    <li class="larger">Quick start to play around</li>
    <li>Email: example@gmail.com</li>
    <li>Password: example</li>
  </ul>

</div>

<span>
{{usernameError}}{{passwordError}}
</span>

<form action="" method="post">
  <label for="email" required="">Email</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="text" name="password">

  <button type="submit" class="form-btns">submit</button>
</form>




<div>

</div>


{% endblock %}