{% extends "base.html" %} 


{% block content %}
<h2>Sign Up</h2>

<form action="/signup" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" required="">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Create Password</label>
  <input type="text" name="password">
  <label for="password">Verify Password</label>
  <input type="text" name="password">
  <button type="submit">submit</button>
</form>
{{emailError}}{{usernameError}}{{passwordError}}



{% endblock %}